
@{
    ViewData["Title"] = "About";
}
<div>
<h1>About</h1>
 <img src="~/Images/Agents2.jpg"/>
<p>Entrepreneurial culture affording its agents and franchisees the flexibility to operate their businesses with great independence. HouseAgents agents have lived, worked and served in their local communities for decades, raising millions of dollars every year for Children's Miracle Network Hospitals® and other charities.</p>
</div>
